.main-screen-create {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.creator-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.creator-box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator-box > div > i {
    font-size: 200px;
    margin-bottom: 30px;
}

.creator-box span {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}