#main-display-link {
  display: block;
  text-align: center;
  background-color: var(--color);
  color: whitesmoke;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#main-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.main-screen {
  padding: 0px var(--horizontal-space);
  display: flex;
  justify-content: center;
  align-items: top;
}

.artwork-box {
  height: 1000vh;
  margin: 20px 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.artwork-box__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.artwork-box__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-bottom: 25px;
  border: 3px solid var(--color);
  border-radius: 10px;
  background: none;
  position: relative;
}

.artwork-box__contents,
.artwork-box__contents::after {
  transition: all 0.3s;
}

.artwork-box__contents::before,
.artwork-box__contents::after {
  background: var(--color);
  content: '';
  position: absolute;
  z-index: -1;
}

.artwork-box__contents:hover {
  color: white;
}

.artwork-box__contents::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.artwork-box__contents:hover:after {
  height: 100%;
}

.artwork__img {
  width: 70px;
  height: 70px;
  padding: 15px;
  border-radius: 30px;
  margin-right: 10px;
}

.artwork-box__contents-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  margin-right: 10px;
}

.artwork__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.artwork__subtitle {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

@keyframes hideSplashScreen {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--color);
  color: whitesmoke;
  font-weight: 600;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen span{
  font-size: 30px;
  margin-bottom: 10px;
}

#splash-screen i,
#splash-screen > span:first-child {
  margin-bottom: 50px;
}
#splash-screen div {
  display: flex;
  flex-direction: column;
}